@model IEnumerable<VentaVehiculoModelDB.Models.Orden>

@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout2SinCarousel.cshtml";
}

<h2>Listados de Ordenes</h2>

@*Search O filter*@
<div class="row">
	<div class="col-sm-2">
		@Html.ActionLink("Create New", "Create",null, new { @class = "btn btn-success btn-rounded" })
	</div>
	<div class="col-lg-8">
		<input class="form-control" id="input_search" type="text" name="search" placeholder="busqueda" />
	</div>
</div>
<div class="row">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.Id_Empleado)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Id_TipoOrden)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Fecha)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.SubTotal)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Itbis)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Total)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Cliente.Nombre)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.EstadoOrden.Nombre)
				</th>
				<th>
					Acciones
				</th>
			</tr>
		</thead>
		<tbody id="table_body">
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Id_Empleado)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Id_TipoOrden)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Fecha)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.SubTotal)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Itbis)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Total)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Cliente.Nombre)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.EstadoOrden.Nombre)
					</td>
					<td style="padding:12px 0 0 6px">
						@Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-primary btn-sm ", @style = "width:auto" })
						@Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-success btn-sm ", @style = "width:auto" })
						@Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-danger btn-sm ", @style = "width:auto" })
					</td>
				</tr>
			}
		</tbody>


	</table>
</div>
@*Realiza la busqueda, en la tabla*@
@section scripts
	{
	<script>
		$(document).ready(function () {
			$("#input_search").on("keyup", function () {
				var value = $(this).val().toLowerCase();
				$("#table_body tr").filter(function () {
					$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
				});
			});
		});
	</script>
}

