@model VentaVehiculoModelDB.Models.Usuario

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PasswordUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PasswordUsuario)
        </dd>

    </dl>
</div>
<p>
	@Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-primary" })
	@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-success" })
</p>
