@model VentaVehiculoModelDB.Models.Cliente

@{
	ViewBag.Title = "Create";
	Layout = "~/Views/Shared/_Layout2SinCarousel.cshtml";
}
<br />
<br />
<br />



@Html.ValidationSummary(true, "", new { @class = "text-danger" })
@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="container card-body border border-light p-5 formulario z-depth-2">

		<h2 class="text-center">Create</h2>

		<div class="form-row">
			<h4>
				<br />
				<br />
				Clientes
			</h4>
			<br />
			<hr class="col-md-12" />


			<div class="md-form col-md-3">
				<i class="fas fa-user-plus prefix"></i>
				@Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
				@Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
			</div>

			<div class="md-form col-md-3">
				<i class="fas fa-user prefix"></i>
				@Html.EditorFor(model => model.Apellido, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Apellido, "", new { @class = "text-danger" })
				@Html.LabelFor(model => model.Apellido, htmlAttributes: new { @class = "control-label col-md-2" })
			</div>

			<div class="md-form col-md-3">
				<i class="fas fa-id-card prefix"></i>
				@Html.EditorFor(model => model.Cedula, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Cedula, "", new { @class = "text-danger" })
				@Html.LabelFor(model => model.Cedula, htmlAttributes: new { @class = "control-label col-md-2" })
			</div>

			<div class="md-form col-md-3">
				<i class="fas fa-calendar-alt prefix"></i>
				@Html.TextBoxFor(x => x.FechaRegistro, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
				@*@Html.ValidationMessageFor(model => model.FechaRegistro, "", new { @class = "text-danger" })*@
				@*@Html.LabelFor(model => model.FechaRegistro, htmlAttributes: new { @class = "control-label col-md-2" })*@
			</div>

			<div class="md-form col-md-3">
				<i class="fas fa-address-book prefix"></i>
				@Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
				@Html.LabelFor(model => model.Direccion, htmlAttributes: new { @class = "control-label col-md-2" })
			</div>

			<div class="md-form col-md-3">
				<i class="fas fa-at prefix"></i>
				@Html.EditorFor(model => model.Correo, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Correo, "", new { @class = "text-danger" })
				@Html.LabelFor(model => model.Correo, htmlAttributes: new { @class = "control-label col-md-2" })
			</div>

			<div class="md-form col-md-3">
				<i class="fas fa-transgender-alt prefix"></i>
				@Html.EditorFor(model => model.Genero, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Genero, "", new { @class = "text-danger" })
				@Html.LabelFor(model => model.Genero, htmlAttributes: new { @class = "control-label col-md-2" })
			</div>

			<div class="md-form col-md-3">
				<i class="fas fa-phone-square prefix "></i>
				@Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
				@Html.LabelFor(model => model.Telefono, htmlAttributes: new { @class = "control-label col-md-2" })
			</div>

			<div class="md-form col-md-3">
				<i class="fas fa-user-check prefix  d-none d-md-block"></i>
				@Html.DropDownList("Id_Usuario", null, "Usuario", htmlAttributes: new { @class = "browser-default custom-select offset-md-2" })
				@Html.ValidationMessageFor(model => model.Id_Usuario, "", new { @class = "text-danger" })
			</div>

			
			<div class="md-form col-12 flex-column">

				<div class="col-md-8">
					<input type="submit" value="Create" class="btn btn-default" />
					@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
				</div>
				<div class="col-md-4">
				
				</div>
			</div>

		</div>
	</div>

}


@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
