@model VentaVehiculoModelDB.Models.DetalleOrden

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout2SinCarousel.cshtml";  // poner en todos los formularios que tienes que editar para que no salga la imagen
}

<div class="container card-body border border-light p-5 formulario z-depth-2 flex-center flex-column">
    <h2 class="text-center">Detalle de Orden</h2><!--titulo-->

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-row"> <!--oto cuerpo-->

            <h4>
                <br />Datos<!--otro titulo-->
            </h4>
            <hr class="col-md-12" /><!--linea del formulario-->
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="md-form col-md-5 ">
                @Html.LabelFor(model => model.Cantidad, "Cantidad", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-15">
                    @Html.EditorFor(model => model.Cantidad, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Cantidad, "", new { @class = "text-danger " })
                </div>
            </div>

            <div class="md-form col-md-5 ">
                @Html.LabelFor(model => model.TotalDetalle, "Total Detalle", htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-15">
                    @Html.EditorFor(model => model.TotalDetalle, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TotalDetalle, "", new { @class = "text-danger " })
                </div>
            </div>

            <div class="md-form col-md-5 ">
                @Html.LabelFor(model => model.Id_Orden, "No. de Orden", htmlAttributes: new { @class = "control-label col-md-15" })
                <div class="col-md-15">
                    @Html.DropDownList("Id_Orden", null, "", htmlAttributes: new { @class = "browser-default custom-select val" })
                    @Html.ValidationMessageFor(model => model.Id_Orden, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="md-form col-md-5 ">
                @Html.LabelFor(model => model.Id_Vehiculo, "Id_Vehiculo", htmlAttributes: new { @class = "control-label col-md-15" })
                <div class="col-md-15">
                    @Html.DropDownList("Id_Vehiculo", null, "", htmlAttributes: new { @class = "browser-default custom-select val" })
                    @Html.ValidationMessageFor(model => model.Id_Vehiculo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <!--los botones-->
                <div class="col-12">

                </div>
                <div class="form-group row">

                    <div class="col-md-offset-2 col-md-10">
                        <input type="button" value="Create" class="btn btn-success" />
                    </div>
                </div>
                <div class="form-group col-md-5">
                    @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-primary" })
                </div>
            </div>
        </div>
    }
</div> 