@model VentaVehiculoModelDB.Models.Suplidore

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout2SinCarousel.cshtml";  // poner en todos los formularios que tienes que editar para que no salga la imagen
}

<div class="container card-body border border-light p-5 formulario z-depth-2 flex-center flex-column">
    <h2 class="text-center">Suplidor</h2><!--titulo-->

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div>
            <div class="form-row">
                <!--oto cuerpo-->

                <h4>
                    <br />Datos<!--otro titulo-->
                </h4>
                <hr class="col-md-12" /><!--linea del formulario-->
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="md-form col-md-5 ">
                    <i class="fas fa-building prefix"></i>
                    @Html.EditorFor(model => model.NombreEmpresa, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NombreEmpresa, "", new { @class = "text-danger " })
                    @Html.LabelFor(model => model.NombreEmpresa, "Nombre de la empresa", htmlAttributes: new { @class = "control-label col-md-10" })
                </div>

                <div class="md-form col-md-5 ">
                    <i class="fas fa-map-marked-alt prefix"></i>
                    @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger " })
                    @Html.LabelFor(model => model.Direccion, "Direccion", htmlAttributes: new { @class = "control-label col-md-10" })
                </div>

                <div class="md-form col-md-5 ">
                    <i class="fas fa-phone prefix"></i>
                    @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger " })
                    @Html.LabelFor(model => model.Telefono, "Telefono", htmlAttributes: new { @class = "control-label col-md-10" })
                </div>

                <div class="row">
                    <!--los botones-->
                    <div class="col-12">
                        <br />
                        <br />
                        <br />
                        <br />
                    </div>
                    <div class="form-group row">

                        <div class="col-md-offset-2 col-md-10">
                            <input type="button" value="Listo" class="btn btn-default" />
                        </div>
                    </div>
                    <div class="form-group col-md-5">
                        @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>
        </div>
    }



    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>