@model IEnumerable<VentaVehiculoModelDB.Models.Suplidore>

@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout2SinCarousel.cshtml";
}

<h2>Listados de Suplidores</h2>

@*Search O filter*@
<div class="row">
	<div class="col-sm-2">
		@Html.ActionLink("Create New", "Create", new { @Style = "margin-botton:10px" }, new { @class = "btn btn-success" })
	</div>
	<div class="col-lg-10">
		<input class="form-control" id="input_search" type="text" name="search" placeholder="busqueda" />
	</div>
</div>
<br />
<div class="row">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.NombreEmpresa)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Direccion)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Telefono)
				</th>
				<th>
					Acciones
				</th>
			</tr>
		</thead>
		<tbody id="table_body">
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.NombreEmpresa)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Direccion)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Telefono)
					</td>
					<td>
						@Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-primary " })
						@Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-success " })
						@Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-danger " })
					</td>
				</tr>
			}
		</tbody>

	</table>

</div>
@*Realiza la busqueda, en la tabla*@
@section scripts
	{
	<script>
		$(document).ready(function () {
			$("#input_search").on("keyup", function () {
				var value = $(this).val().toLowerCase();
				$("#table_body tr").filter(function () {
					$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
				});
			});
		});
	</script>
}
