@model IEnumerable<VentaVehiculoModelDB.Models.Vehiculo>

@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout2SinCarousel.cshtml";
}

<h2>Listados de Vehiculos</h2>

@*Search O filter*@
<div class="row">
	<div class="col-sm-2">
		@Html.ActionLink("Create New", "Create", new { @Style = "margin-botton:10px" }, new { @class = "btn btn-success" })
	</div>
	<div class="col-lg-10">
		<input class="form-control" id="input_search" type="text" name="search" placeholder="busqueda" />
	</div>
</div>
<br />
<div class="row">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.Precio)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Kilometraje)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Color)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Año)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.AsientosVehiculo.CantidadAsiento)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.CombustibleVehiculo.Tipo)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.EstadoVehiculo.Estado)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Modelo.Nombre)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Suplidore.NombreEmpresa)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.TipoVehiculo.Tipo)
				</th>
				<th class="col-10">
					Acciones
				</th>
			</tr>
		</thead>
		<tbody id="table_body">
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Precio)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Kilometraje)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Color)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Año)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.AsientosVehiculo.ID)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.CombustibleVehiculo.Tipo)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.EstadoVehiculo.Estado)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Modelo.Nombre)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Suplidore.NombreEmpresa)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.TipoVehiculo.Tipo)
					</td>
					<td style="padding:12px 0 0 6px" >
						@Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-primary btn-sm ", @style = "width:auto" })
						@Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-success btn-sm ", @style = "width:auto" })
						@Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-danger btn-sm ", @style = "width:auto" })
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>
@*Realiza la busqueda, en la tabla*@
@section scripts
	{
	<script>
		$(document).ready(function () {
			$("#input_search").on("keyup", function () {
				var value = $(this).val().toLowerCase();
				$("#table_body tr").filter(function () {
					$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
				});
			});
		});
	</script>
}
