@model VentaVehiculoModelDB.Models.InvetarioVehiculo

@{
	ViewBag.Title = "Details";
	Layout = "~/Views/Shared/_Layout2SinCarousel.cshtml";
}

<h2>Details</h2>

<div>
    <h4>InvetarioVehiculo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vehiculo.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vehiculo.Color)
        </dd>

    </dl>
</div>
<p>
	@Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-primary" })
	@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-success" })
</p>
